body{
    font-family: 'Imperial Script', cursive;
font-family: 'Mea Culpa', cursive;
font-family: 'Oooh Baby', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Twinkle Star', cursive;
margin: 0;
}

h1{
    font-size: 45px;
}

.orange-color{
    color: orange;
}
section{
    display: flex;
    padding-left: 60px;
    padding-bottom: 150px;
}
.half-width{
    width: 46%;
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(orange, tomato);
   color: white;
   font-weight: 700;
    padding: 10px 25px;
    border-radius: 5px;

}
.top-banner{
    background-image: url(imge/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(imge/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}